@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;0,900;1,700;1,800;1,900&family=Roboto&display=swap');

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    width: 100%;

    display: flex;
    justify-content: center;
}

.header-wrapper {
    width: 1280px;
    margin: 63px 100px 0px 100px;
}

.conteiner-logo {
    padding-left: 0px;
    padding-top: 0px;
}

.logo_1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #000000;
}

.logo_2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #4BCAFF;
}

.hover_1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;

    color: #F70D0D;

    margin: 0px 689px 7px 543px;
}

.box_links {
    width: 1280px;
    height: 69px;
    display: flex;

    background-color: #35444F;
}

a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;

    color: #FFFFFF;

    text-decoration: none;
}

.link_0 {
    width: 160px;
}

.link_1 {
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 32px;
    padding-right: 33px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.link_2 {
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 37px;
    padding-right: 37px;
    border-right: 1px solid white;

    background: #222F3A;
}

.link_2:hover {
    cursor: pointer;
    opacity: 0.7;

}

.link_2:active {
    color: #4BCAFF;
}

.link_3 {
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 41px;
    padding-right: 40px;
    border-right: 1px solid white;
}

.link_4 {
    padding-top: 24px;
    padding-bottom: 18px;
    padding-left: 40px;
    padding-right: 18px;
    border-right: 1px solid white;
}

.container_2 {
    width: 100%;

    display: flex;
    justify-content: center;
}

.wrapper_2 {
    width: 1280px;
    margin: 48px 100px 0px 100px;
    display: flex;
}

.box_2 {
    width: 344px;
    height: 399px;

    border: 1px solid #000000;
}

.box_2 ul {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;

    color: #485863;

    list-style: none;
    padding: 0px;
    margin: 0px;
}

.li_1 {
    padding: 26px 194px 25px 44px;
}

.li_color {
    padding: 27px 78px 27px 38px;
    text-align: center;

    color: #000000;

    background-color: #DBDBDB;
}

.li_3 {
    padding: 25px 82px 52px 42px;
}

.li_4 {
    padding: 0px 121px 52px 44px;
}

.li_5 {
    padding: 0px 147px 30px 44px;
}

/* .hover_2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;

    color: #F70D0D;

    
    position: relative;
    top: 102px;
    left: 265px;
} */

.box_image {
    width: 885px;
    height: 528px;

    margin-left: 52px;

    background-image: url('./img/top1-img.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    border: 1px solid #000000;
}

.box_image:hover {
    transform: scale(1.04);
    transition: 0.3s;
    overflow: hidden;
}

.container_3 {
    width: 100%;

    display: flex;
    justify-content: center;
}

.wrapper_3 {
    width: 885px;
    margin: 37px 100px 0px 496px;
    display: flex;
    flex-direction: column;
}

.text_1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    color: #2C2C2C;

    margin: 0px;
    padding: 0px;
}

.text_2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    color: #2C2C2C;

    margin: 0px;
    padding: 0px;
    margin-top: 34px;
}

.container_4 {
    width: 100%;

    display: flex;
    justify-content: center;
}

.wrapper_4 {
    width: 1280px;
    height: 69px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-top: 54px;
    margin-bottom: 30px;
    background: rgba(99, 105, 110, 0.48);
}

.ps_wrapper {
    width: 875px;

    display: flex;
    justify-content: space-between;
}

.ps_wrapper_1 {
    width: 190px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;

    display: flex;
}

.link_5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;

    color: #0C1927;
}

.link_6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;

    text-decoration-line: underline;

    color: #3181A6;
}

.link_6:hover {
    cursor: pointer;
    opacity: 0.7;
}

.link_7 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;

    color: #0C1927;
}

.link_8 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;

    color: #0C1927;
}

.link_9 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;

    color: #0C1927;
}